<?xml version="1.0" encoding="UTF-8"?>
<!-- Layout specifiers: https://logging.apache.org/log4j/2.x/manual/layouts.html -->
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger: %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="logs/today.log"
			filePattern="logs/$${date:yyyy-MM}/%d{yyyy-MM-dd}.log.gz">
			<PatternLayout>
				<Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger: %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="WARN">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
		<Logger name="ca.danielstout" level="debug" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
	</Loggers>
</Configuration>